html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a:link,
a:visited,
a:hover,
a:active {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: slategray;
}

.title {
  padding-top: 24px;
  padding-bottom: 24px;
}

.card {
  border: none;
}

.card-title {
  text-align: center;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}