@import url("https://fonts.googleapis.com/css2?family=Hind:ital@0;1&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Hind", sans-serif;
  font-size: 1.1rem;
}

a,
a:hover {
  color: unset;
}

figcaption {
  color: grey;
  font-size: 0.9rem;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}

footer {
  margin-top: 2rem;
  font-size: 0.9rem;
  color: grey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

img {
  width: 100%;
}

.content {
  max-width: 1000px !important;
}

.title a {
  text-decoration: none;
  color: unset;
}
