@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-size: 1.1rem;
  color: var(--color-text);
  background-color: var(--color-bg);
  --color-muted: rgba(128, 128, 128);
  --font-small: 0.9rem;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-bold: 700;
}

body[data-theme="light"] {
  --color-bg: #fff;
  --color-text: rgb(33, 37, 41);
  --color-shadow: #bcbcbc;
}

body[data-theme="dark"] {
  --color-bg: #202022;
  --color-text: rgb(224, 226, 226);
  --color-shadow: #000;
}

a,
a:hover {
  color: unset;
}

.brand,
.title {
  margin-bottom: 1rem;
  font-weight: var(--weight-normal);
}

.brand a,
.title a {
  text-decoration: none;
  color: unset;
}

.main {
  /* Arrived at this calculation through sheer trial and error */
  min-height: calc(100vh - 85px);
}

.main img {
  object-fit: cover;
  max-height: 525px;
  width: 100%;
}

.main small {
  color: var(--color-muted);
  font-size: var(--font-small);
  margin-bottom: 1rem;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-weight: var(--weight-medium);
  font-size: 1.25rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.content blockquote {
  padding-left: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-left: 1px groove;
  opacity: 0.7;
}

.content code {
  color: var(--color-text);
  opacity: 0.8;
}

.content pre {
  border: none !important;
  box-shadow: none !important;
  font-size: var(--font-small) !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.content-after {
  margin-top: 2rem;
}

.small {
  font-size: var(--font-small);
}

.text-muted {
  color: var(--color-muted) !important;
}

footer {
  margin-top: 2rem;
  font-size: var(--font-small);
  color: var(--color-muted);
}

#theme-toggle {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  top: 1rem;
  right: 1rem;
  border-radius: 50% !important;
  transition: unset !important;
  filter: drop-shadow(1px 2px 8px var(--color-shadow));
}

/* 576 and below */
@media screen and (max-width: 576px) {
  .main {
    /* Also sheer trial and error */
    min-height: calc(100vh - 109px);
  }
}

/* 1200 and above */
@media screen and (min-width: 1200px) {
  .container {
    /* Limit max container width in wide view */
    max-width: 960px !important;
  }

  #theme-toggle {
    bottom: 2rem;
    right: 2rem;
  }
}
