<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <meta name="robots" content="noindex"> -->

    <meta property="og:type" content="{{ metaType }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="{{ image }}" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:image" content="{{ image }}" />

    <!-- Bootstrap CSS -->
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    >

    <!-- Bootstrap Icons -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
      rel="stylesheet" 
    >

    {{ stylesheets }}

    <link rel="shortcut icon" type="image/jpg" href="{{ icon }}" />
    <title>{{ headTitle }}</title>
  </head>
  <body>
    {{ prescripts }}

    <div class="container">
      <div class="main">
        <div class="pt-4">
          <h1 class="brand">
            <a href="/">{{ brand }}</a>
          </h1>
        </div>

        <h3 class="title">
          <a href="{{ slug }}">{{ title }}</a>
        </h3>

        <div class="text-muted mb-4">
          {{ subtitle }}
        </div>

        <div class="content {{ className }}">{{ content }}</div>
        <p class="small text-muted">{{ date }}</p>
        <div class="content-end">{{ contentEnd }}</div>
      </div>

      <footer id="footer">
        <div class="row">
          <div class="col-12 col-sm-auto small row-item">{{ copyright }}</div>
          <div class="col-12 col-sm-auto">{{ links }}</div>
        </div>
      </footer>

      <div id="theme-toggle" onclick="toggleTheme()">
        <i id="theme-icon"></i>
      </div>
    </div>

    {{ postscripts }}
  </body>
</html>
